<%- include("partials/header"); -%>
    <h1>Compose</h1>

    <form class="" action="/edit/<%= postId %>" method="post">
      <div class="form-group">
        <label class="label--compose">Title</label>
        <input class="form-control" type="text" name="postTitle" value="<%= postTitle %>">
        <label class="label--compose">Post</label>
        <textarea class="form-control" name="postContent" rows="5" cols="30"><%= postContent %></textarea>
      </div>
      <!-- Add a hidden field to store the postId for editing -->
      <input type="hidden" name="postId" value="<%= postId %>">
      <button class="btn btn-primary" type="submit" name="submit">Update</button>
    </form>
    

<%- include("partials/footer"); -%>
